django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg[binary]
gunicorn
uvicorn
python-dotenv
django-environ
django-ratelimit
google-generativeai
razorpay
django-crontab
python-dateutil
